@mixin basefont($size: 1em,$weight: 400, $color: #454545) {
	font-family: 'PT Sans', sans-serif;
	font-weight: $weight;
	font-size: $size;
	color: $color;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;
}

$dark-blue: #2b3a42;
$dark-blue-shadow: darken($dark-blue, 10%);
$dark-blue-highlight: lighten($dark-blue, 10%);

$medium-blue: #3f5765;
$medium-blue-shadow: darken($medium-blue, 10%);
$medium-blue-highlight: lighten($medium-blue, 10%);

$pale-blue: #bdd4de;
$pale-blue-shadow: darken($pale-blue, 10%);
$pale-blue-highlight: lighten($pale-blue, 10%);

$light-gray: #fefefe;
$light-gray-shadow: darken($light-gray, 10%);
$light-gray-highlight: lighten($light-gray, 10%);

$orange: #ff530d;
$orange-shadow: darken($orange, 10%);
$orange-highlight: lighten($orange, 10%);

body{
	@include basefont;
	background: $light-gray;
	text-align:center;
	padding:0;
	margin:0;
	
  a{
    text-decoration:none;
  }
  
	.cont{
		width:980px;
		margin:0 auto;
	}
	
	section#session_bar{
		height:72px;
		background-color:$dark-blue-highlight;
		border-bottom:1px solid $dark-blue;
		text-align:center;
		
		#home-logo{
			float:left;
		}
		
		nav{
			float:right;
			position:relative;
		}
		
		#profile-image{
			float:right;
			width:50px;
			height:50px;
			border:1px solid $dark-blue;
			margin:10px 0;
		}
		
		ul{
			position:absolute;
      top:73px;
      right:0;
      width:160px;
      list-style:none;
      background-color:$pale-blue;
      padding:0;
      margin:0;
      @include border-radius(0 0 4px 4px);
      
      li{
        text-align:right;
        padding:0;
        margin:0;
        line-height:28px;
        @include basefont(0.85em,400,#333);
        
        &:last-of-type a {
          @include border-radius(0 0 4px 4px);
        }
        
        a{
          color: #2b3a42;
          display:block;
          padding:3px 8px;
          border-top:1px solid rgba(255,255,255,0.2);
          
          &:hover{
           background-color:$orange;
           color:$light-gray; 
           
          }
        }
        
      }
		}
	}
	
	&#login-layout{
		background-image: url(snowy-mountains-blurred.jpg);
		background-position: center center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		background-color: #BDD4DE;
	}
	
	div#user_nav{
		width: 400px;
		margin: 100px auto 0;
		
		#shadow{
			content: "";
			float:left;
			box-shadow: 0px 0px 29px 8px rgba(0,0,0,0.33);
		}
		
		#logo-backdrop {width:400px;height:240px;float:left;clear:both;background: #3F5765;
			background: -moz-linear-gradient(top, #2b3a42 0%, #3f5765 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2b3a42), color-stop(100%,#3f5765)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, #2b3a42 0%,#3f5765 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, #2b3a42 0%,#3f5765 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, #2b3a42 0%,#3f5765 100%); /* IE10+ */
			background: linear-gradient(to bottom, #2b3a42 0%,#3f5765 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b3a42', endColorstr='#3f5765',GradientType=0 ); /* IE6-9 */
		}
		#logo{
			float:left;clear:both;
			background-color: #2B3A42;
			width:320px;
			padding:20px 40px;
			path{
				fill:white;
			}
		}
		
		a{
			display:block;
			text-decoration:none;
			padding:10px 3px;
			line-height:32px;
			background-color:#333;
			margin:0;
			color:#eee;
			float:left;
			clear:both;
			position:relative;
			width:394px;
			
			&#facebook{
				background: #3C5A99;					
				img{width:40px;height:40px;position:absolute;left:6px;top:6px;}
			}
			
			&#google{
				background: #c53829;					
				img{width:60px;height:40px;position:absolute;left:6px;top:6px;}
			}
		}
	}
	
	
	div#container{
		
		section#session_bar{
			background-color:#572229;
			line-height:36px;
			border-bottom:1px solid #666;
			@include basefont(0.85em,400,#ccc);
		}
		
	}
	
}